body {
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

.flexible-container {
    display: flex;
}

#top-banner {
    background-color: #13214A;
    padding: 15px 100px 0 150px;
}

#top-banner h1 {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 45px;
    color: white;
    font-weight: bold;
}

.word-1 {
    color: #FA6867;
}

.word-2 {
    color: #47C757;
}

.half-width {
    width: 50%;
}

.banner-text {
    margin-bottom: 50px;
    padding-top: 50px;
}

.half-width h3 {
    font-family: 'Otomanopee One', sans-serif;
    color: white;
    font-size: 18px;
}

#top-banner-img {
    width: 120%;
    height: 100%;
}

.link-buttons {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 32px;
    border-radius: 100px;
    margin-top: 20px;
}

#order-now-button {
    background: linear-gradient(88.33deg, #47C757 -7.64%, #3CB449 145.94%);
    box-shadow: 0px 2px 30px rgb(145 252 73 / 50%);
}

.flexible-container-2 {
    display: flex;
    background-color: #E5E5E5;
    background-image: url(images/section-2-bg-img-2.jpg);
    background-size: contain;
    background-position: right;
}

#contact-chef {
    width: 95%;
    height: 100%;
}

#banner2-text h1 {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#banner2-text p {
    font-size: 20px;
    color: #13214A;
    padding-right: 50px;
    text-align: left;
}

#contact-button {
    background: linear-gradient(88.33deg, #FA6867 -7.64%, #CF383B 145.94%);
    box-shadow: 0px 2px 30px rgb(255 73 73 / 50%);
}

#recipes {
    background-color: #E5E5E5;
    padding: 5px 200px 50px 200px;
}

#recipes-header h1 {
    color: #13214A;
    font-size: 35px;
    text-align: center;
}

#recipes-header p {
    color: #13214A;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

#recipe-cards {
    display: flex;
}

.recipe-card {
    height: 415px;
    width: 33%;
    background-color: white;
    border-radius: 30px;
    padding: 15px 15px;
    margin: 0 3% 7% 3%;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.recipe-card img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5px;
}

.recipe-card h1 {
    color: #13214A;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-align: left;
}

.recipe-card p {
    color: #13214A;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-bottom: 5px;
}

#card-button {
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgb(252 143 73 / 50%);
    border-radius: 100px;
}

#reviews {
    background-color: #E5E5E5;
    margin-top: -30px;
    padding-top: 5px;
}

#review-cards {
    margin: auto;
    width: 85%;
}

.flexible-container-4 {
    display: flex;
}

#reviews-header h1 {
    text-align: center;
    color: #13214A;
    font-size: 35px;
    font-style: normal;
}

.user-info {
    display: flex;
    display: inline-block;
    padding: 0 0 10px 10px;
}

.user-info img {
    width: 10%;
    border-radius: 75%;
    margin-bottom: -10px;
}

.user-container {
    margin: -43px 0 0 65px;
}

.user-container h4 {
    color: white;
    margin: 1px 0;
}

.user-container h5 {
    color: white;
    margin: 0;
}

.review-card {
    background-color: #13214A;
    box-shadow: 0px 0px 30px grey;
    border-radius: 20px;
    padding: 1.7% 2.3%;
    margin: 1.4% 1%;
}

.quotation-sign {
    color: #47C757;
    font-size: 35px;
    font-style: oblique;
    font-weight: bold;
}

.customer-quote p {
    color: #FA6867;
    font-size: 15px;
    font-style: oblique;
}

#flexible-container-5 {
    background-color: #E5E5E5;
    margin-top: -20px;
    padding: 70px 0 50px;
}

#expert-header h1 {
    color: #13214A;
    text-align: center;
    font-size: 35px;
}

.expert-profile {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 65%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 30px grey;
}

.expert-left {
    padding-right: 125px;
}

.expert-right {
    padding-left: 125px;
}

.expert-details-left {
    margin-top: 25px;
    text-align: left;
}

.expert-details-right {
    margin-top: 25px;
    text-align: right;
}

.expert-details-right h5 {
    text-align: right;
}

.expert-details-right p {
    text-align: right;
    color: #13214A;
}

.expert-details-left h4 {
    text-align: left;
}

.expert-details-left h5 {
    text-align: left;
}

.expert-details-left p {
    text-align: left;
    color: #13214A;
}

.expert-img-left {
    border-radius: 15px 0 0 15px;
}

.expert-img-right {
    border-radius: 0 15px 15px 0;
}

.expert-details-left {
    margin-left: 20px;
}

.expert-details-right {
    margin-right: 20px;
}

.linkedin-left {
    text-align: left;
}

.linkedin-right {
    text-align: right;
    margin-right: -100px;
}

#flexible-container-6 {
    background-color: #E5E5E5;
    padding: 30px 0 60px;
    margin-top: -30px;
}

#stat-bar {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px grey;
    background-color: #13214A;
}

.stat-count {
    width: 33%;
    text-align: center;
}

.stat-count h1,
p {
    color: white;
}

#footer-area {
    position: relative;
    background-color: #13214A;
    padding: 20px 0;
}

#footer-contents {
    top: 50%;
    left: 50%;
}

#footer-header p {
    color: white;
    font-size: 20px;
}

#footer-header h1,
p {
    text-align: center;
}

#footer-copyright p {
    color: white;
    text-align: center;
}

#footer-copyright a {
    color: white;
}